body {
    background-color: #0A3740;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

h2, h3 {
    color: #0A3740;
}

h3 {
    font-size: 13px;
}


table, th, td {
    border: 2px solid;
    border-collapse: separate;
    border-radius: 10px;
    border-spacing: 5px;
}

th, td {
    padding: 10px;
}

a:link {
    color: white;
    text-decoration: none;
}

#criar:visited {
    color: #0A3740;
            /*#D6D578*/
}

a:visited {
    color: #B1BF63;
}

a:hover {
    color: whitesmoke;
}

#enviar {
    margin-top: 10px;
    background-color: white;
    border: 5px;
    border-color: #0A3740;
    border-radius: 4px;
    width: 60px;
}

.lista td:hover {
    background-color: #0A3740;
}
.lista a:visited {
    color: white;
}

div.card {
    margin-top: 75px;
    background-color: #B1BF63;
    width: 400px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border-radius: 40px;
}

div.form_field {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

input.form_input{
    width: 90%;
}

.menu ul {
    list-style: none;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
}
.menu li {
    margin-right: 20px;
}

.setor {
    background-color: #0A3740;
    border-radius: 5px;
    display: flex;
    height: auto;
    justify-content: center;
}

div.formulario {
    width: auto;
}

